*.js
*.lock
*.log

/.env

/operations/*.ts
/schema/*.graphql
/schema/*.json
/schema/*.ts

*.gz
*.tgz

ts-node-*

/coverage/
/out/
/node_modules/

/.cache/
/.install/
/.nyc_output/
/.packages/

/.yarnrc

/package-lock.json

/.graphqlconfig
/.idea
/.tags
/.tern-project
/.vscode
