*.js

/.env

/operations/*.ts
/schema/*.graphql
/schema/*.json
/schema/*.ts

*.gz
*.tgz

ts-node-*

/coverage/
/node_modules/

/out/

/.nyc_output/
/.yarnrc

/package-lock.json
/yarn.lock
/yarn-error.log

/.graphqlconfig
/.idea
/.tags
/.tern-project
/.vscode
